<div class="row">
    <div class="col-md-5 col-sm-12">
        <div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">Pagina
            <%= page %>
            di <%= page_count %>
            su <%= total_items %> record
        </div>
    </div>
    <div class="col-md-7 col-sm-12">
        <div class="" id="sample_1_paginate">
            <ul class="pagination" style="visibility: visible;">
                <%
                var first_class='disabled'
                var prev_class='disabled'
                if( page > 1) {
                prev_class='prev';
                first_class='first';
                }
                %>
                <li class="<%= first_class %>" data-page="<%= 1 %>">
                    <a title="First">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="<%= prev_class %>" data-page="<%= page - 1 %>">
                    <a title="Prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>

                <% for(i=0;i < nav_pages.length;i++){ %>
                <% var nav_page=nav_pages[i]; %>
                <li class="<%= nav_page.class %>" data-page="<%= nav_page.data_page %>">
                    <a title="Page_<%= nav_page.caption%>"><%= nav_page.caption%></a>
                </li>
                <% } %>


                <%
                var next_class='disabled'
                var last_class='disabled'
                if( page < page_count) {
                next_class='next';
                last_class='last';
                }
                %>
                <li class="<%= next_class%>" data-page="<%= page + 1 %>">
                    <a title="Next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li class="<%= last_class%>" data-page="<%= page_count %>">
                    <a title="Last">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
                <li class="refresh" data-page="<%= page %>">
                    <a title="refresh">
                        <i class="fa fa-refresh"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
