<tr>
<% _.each(columns, function( column) { %>
    <% if (column=='id'){%>
        <th>
            <div class="th-inner">#</div>
        </th>
    <% }else{%>
        <th data-field="<%- column %>">
            <div class="th-inner sortable both" data-field="<%- column %>"><%- column %></div>
        </th>
    <% }%>
<% }) %>

</tr>
